.ContainerAnimatedBorder {
  transform-style: preserve-3d;
}

.ContainerAnimatedBorder:before {
  content: "";
  position: absolute;
  inset: -5px;
  transform: translate3d(0, 0, -1px);
  scale: 300%;
  background: linear-gradient(
    hsla(var(--glow)),
    hsla(var(--glow)),
    hsla(var(--glow)),
    hsla(var(--glow)),
    #2693fa96,
    #6db5f88e,
    #2693fa96,
    hsla(var(--glow)),
    hsla(var(--glow)),
    hsla(var(--glow)),
    hsla(var(--glow))
  );
  filter: blur(10px);
  animation: 5s infinite linear ContainerAnimatedBorderAnimation;
}

@keyframes ContainerAnimatedBorderAnimation {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
